<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>联诺智能监控系统</title>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/main.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/drap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="nav-header">
                <a href="@Url.Action("Index", "Home")" class="nav-header-brand">
                    <img src="~/imgs/logo_white.png" />
                </a>
            </div>
            <div class="nav-bar">
                <span title="日期范围">
                    <i class="layui-icon layui-icon-log"></i>
                </span>
                <span title="菜单">
                    <i class="layui-icon layui-icon-shrink-right"></i>
                </span>
                <span title="全屏">
                    <i class="layui-icon layui-icon-screen-full"></i>
                </span>
                <span>
                    <i class="layui-icon layui-icon-user"></i>
                    @User.Identity.Name !
                </span>
                <span>
                    @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
                </span>
            </div>
            <div class="nav-title">
                <p>联诺智能监控系统</p>
            </div>
            <div class="range-menu layui-hide" style="text-align:center;">
                <div class="layui-inline" style="height:100px;line-height:100px;">
                    <label class="layui-form-label" style="width:auto;height:100px;line-height:81px;">自定义日期范围</label>
                    <div class="layui-input-inline" style="width: 300px;">
                        <input type="text" class="layui-input" id="range" placeholder=" - ">
                    </div>
                </div>
                <div class="layui-inline ranges" style="margin-left:20px;"></div>
            </div>
            <div class="nav-menu layui-hide">
                <div class="user">
                    <p>@User.Identity.Name !</p>
                    <p>
                        <a class="layui-btn layui-btn-primary" href="@Url.Action("Back", "Home")">进入后台</a>
                        <a class="layui-btn layui-btn-primary" href="@Url.Action("Logout", "Account")">安全退出</a>
                    </p>
                </div>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>主题切换</legend>
                </fieldset>
                <div class="theme">
                    <div class="layui-row"></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="layui-row"></div>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/layuiadmin//layui/layui.js"></script>
    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/mSlider.min.js"></script>
    <script src="~/js/main.min.js" asp-append-version="true"></script>
</body>
</html>